.editor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
}

.editor .left-panel {
  width: 65%;
  height: 100vh;
}

.editor .right-panel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 35%;
  height: 100vh;
}

.editor .right-panel .video-stream {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.editor .right-panel .video {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45%;
  width: 100%;
  color: #dcdcdc;
  font-size: 1.25rem;
}

.editor .right-panel .Relay {
  height: 55%;
  width: 100%;
}

.editor .publisher {
  display: none;
}

.editor .OTPublisherContainer {
  display: none;
}

.editor .video {
  position: relative;
}

.editor .video .connectionStatus {
  display: none;
}

.editor .OTSubscriberContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.editor .subscriber .checkbox-group {
  display: none;
}

.phone .OTPublisherContainer {
  transform: rotate(0deg);
}

.phone .right-panel .Relay {
  display: none;
}

.phone .left-panel {
  display: none;
}

.phone .checkbox-group {
  display: none;
}

.phone .change-camera-btn {
  display: none;
}

.phone .editor {
  display: none;
}

.OTPublisherContainer {
  width: 100vw !important;
  height: auto;
}

.connectionStatus {
  padding-top: 20px;
  margin-left: 5%;
  font-size: 1.5em;
}

.subscriber {
  margin-left: 10%;
}

.publisher {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transform: rotate(0deg);
}

#error {
  color: red;
}